/bin
/include
/lib
/ve
/web
/build
*.pyc
local_settings.py
server
/.Python

# PIL-generated images
client/media/cache
client/media/images/hubs
client/media/images/users

# Built files - uncomment to prevent these being committed
#client/media/custom/build/pkg